* {
  margin: 0;
  box-sizing: border-box;
}

html,
body {
  height: 175vh;
  width: 100%;
  background-color: black;
}

nav {
  background-color: teal;
  box-shadow: 0 0 15px 6px white;
  position: fixed;
  left: 0;
  right: 0;
  height: 65px;
  display: flex;
  align-items: center;
}

body {
  background-color: aqua;
  max-width: 960px;
  margin: 0 auto;
  min-height: 100%;
}

main {
  min-height: 100vh;
  padding-top: 100px;
}

a:link {
  color: black;
  text-decoration: none;
}

a:visited {
  color: black;
}

a:hover {
  color: azure;
  border: 3px solid black;
}

a:active {
  color: red;
}

h1 {
  text-align: center;
  padding-bottom: 10px;
}

h2 {
  font-size: 35px;
  color: azure;
  font-family: cursive;
  padding: 21px;
}

h3 {
  text-align: center;
  padding-bottom: 20px;
}

.links {
  font-size: 23px;
  color: black;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-style: normal;
  position: absolute;
  right: 50px;
  padding: 11px;
}

.project {
  width: calc(75%);
  background: gray;
  color: black;
  margin-left: 12%;
  border: solid;
}

div {
  font-size: 36px;
}

#ports {
  margin-left: 15%;
}

#proPhoto {
  height: 250px;
  float: right;
  margin-right: 50px;
}

#aboutPhotos {
  height: 250px;
  float: right;
  margin-right: 50px;
}

#headings {
  font-size: 20px;
  text-decoration: underline;
}
#top {
  font-size: 25px;
  color: black;
}

#abouts {
  border-bottom: blanchedalmond 2px;
  color: goldenrod;
  font-size: 26px;
  margin-left: 75px;
  text-decoration: underline;
}

p {
  font-size: 16px;
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  margin-left: 100px;
}

ul {
  margin-left: 50px;
  font-size: 24px;
}

#quote {
  font-style: italic;
  font-size: 24px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  text-align: left;
  margin: 75px;
  border: dotted;
}

#current {
  text-decoration: underline black;
}

.contact {
  margin-left: 10px;
}

@media screen and (max-width: 800px) {
  .flex {
    width: 100px;
    height: 100px;
    margin: 1% 2%;
  }
}
