* {
    box-sizing:border-box;
}

html {
    background-color:beige;
}

header {
    background-color: teal;
    width: 100%;
}

body {
    background-color:aqua;
    max-width: 960px;
    margin: 0 auto;
    padding: 0;
    
}

main {
    min-height: 100vh;
}
.project {
    width: calc(75%);
    background: gray;
    color: black;
    margin-left:10%;
  }

div {
    font-size:36px;
}

#ports {
    float:top;
}

a:link {
    color:black;
    text-decoration: none;
    
}

a:visited {
    color:black;
}

a:hover {
    color:azure;
    border: 3px solid black;
}

a:active {
    color:red;
}

h2 {
    font-size:35px;
    color:azure;
    font-family: cursive;
    padding:21px;
    }

#links {
    font-size:23px;
    color:black;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-style:normal;
    float:right;
    padding:11px;
}

img {
    height:300px;
    width:400px;
    float:right;
    margin-right:50px;
}
#headings {
    font-size:20px;
    text-decoration: underline;
}
#top {
    font-size: 30px;
    border-bottom:blanchedalmond 2px;
    color:azure;
}

#abouts {
    border-bottom: blanchedalmond 2px;
    color: black;
    font-size: 26px;
    margin-left: 75px;
    text-decoration:underline;
}

h1 {
    text-align:center;
}
p {
    font-size: 20px;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    margin-left:100px;
}

ul {
    margin-left:100px;
}

#quote {
    font-style:italic;
    font-size: 24px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}